* { 
    margin: 0; 
    padding: 0; 
}

#principal {
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 20px;
    background-color: #101010;
}

#titulo {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 10px;
}

#formulario {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
    background-color: #1a1a1a;
    border-radius: 30px;
    color: white;
    div {
        display: flex;
        flex-direction: row;
        gap: 5px;
    }

    #novaReview {
        height: 10vh;
        width: 250px;
        border-radius: 20px;
        border: none;
        padding: 10px;
        background-color: #3d3d3d;
        color: #ffffff;
    }

    #nota {
        color: #ffffff;
        border: none;
        border-radius: 10px;
        background-color: #3d3d3d;
    }

    #nota > option {
        color: #ffffff;
        background-color: #3d3d3d;
    }

    #adicionar {
        background-color: rgb(118, 118, 255);
    }
}

#reviews {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0;
    list-style-type: none;
    
}

.review{
    background-color: #3d3d3d;
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    color: white;
}

#link {
    text-decoration: none;
    color: rgb(118, 118, 255);
}

#videoTrailer {
    width: 40vw;
    height: 40vh;
    border: none;
    border-radius: 10px;
}

.semReviews {
    color: white;
}

@media (max-width: 600px) {
    #videoTrailer {
        width: 80vw;
        height: 25vh;
    }
}

